<subheader [title]="'Usuarios'" [isLoading]="isLoading">
    <ng-container>
        <button class="mr-2" mat-icon-button color="primary" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-flat-button [color]="'primary'" (click)="openDialogUser()">
            <mat-icon>add</mat-icon>
            <span class="ml-2 mr-1">Nuevo</span>
        </button>
    </ng-container>
</subheader>

<div class="mt-6">
    <search (filtrar)="applyFilter($event)"></search>

    <div class="mat-elevation-z8">
        <users-table (editElement)="openDialogUser($event)" (deleteElement)="deleteUser($event)"></users-table>
    </div>
</div>