<subheader title="Recaudaciones">
    <button mat-flat-button [color]="'primary'" (click)="empezarTurno()">
        <mat-icon>work</mat-icon>
        <span class="ml-2 mr-1">Aperturar</span>
    </button>
</subheader>

<div class="wrapper">
    <div class="w-full md:w-2/5 flex flex-col justify-between items-center">
        <div class="flex flex-col justify-between items-center mt-6">
            <div>
                <mat-form-field class="mr-2">
                    <input matInput plaque maxlength="8" [formControl]="plaque" placeholder="Placa">
                    <button *ngIf="plaqueField" matSuffix mat-icon-button aria-label="Clear" (click)="plaque.setValue('')">
                        <mat-icon>close</mat-icon>
                      </button>
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="buscarDatos()"><mat-icon>search</mat-icon></button>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center p-4">
            <form [formGroup]="readForm">
                <mat-form-field appearance="outline" class="pt-2 w-full">
                    <mat-label>Nombre/Razón Social</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>

                <mat-form-field appearance="outline" class="pt-2 w-full">
                    <mat-label>Tipo Vehículo</mat-label>
                    <input matInput formControlName="tipo">
                </mat-form-field>

                <mat-form-field appearance="outline" class="pt-2 w-full">
                    <mat-label>Valor a pagar</mat-label>
                    <input matInput formControlName="valor">
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary" [disabled]="readForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
            </form>
        </div>
    </div>
</div>