.flex {
    display: flex;
    flex-wrap: wrap;
}

.gap-4 {
    gap: 1rem;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.inline {
    display: inline;
}