<section class="pt-5">
    <div class="flex flex-shrink-0 justify-end items-center mb-4 sm:mt-0 sm:ml-4">
        <button mat-flat-button [color]="'primary'" (click)="openDialogPago()">
            <mat-icon>attach_money</mat-icon>
            <span class="ml-2 mr-1">Pago</span>
        </button>
    </div>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{column.cell(row)}}</mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="'actions'">
                <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
                <mat-cell *matCellDef="let row;">
                    <button mat-icon-button (click)="notificar(row)" [disabled]="row.porcentaje == 100">
                        <mat-icon aria-hidden="false" aria-label="Notificar" color="primary">notifications</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</section>