<div class="table-responsive">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{column.cell(row)}}</mat-cell>
    </ng-container>
    <ng-container [matColumnDef]="'actions'">
      <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <button mat-icon-button (click)="openEditForm(row)">
          <mat-icon aria-hidden="false" aria-label="Editar" color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClient(row)">
          <mat-icon aria-hidden="false" aria-label="Eliminar" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element">
        <div style="overflow: hidden" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <table class="mat-table">
            <thead>
              <tr class="mat-header-row">
                <th class="mat-header-cell">
                  Placa
                </th>
                <th class="mat-header-cell">
                  Tipo
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let item of element.section">
                <td class="mat-cell">
                  {{item.placa}}
                </td>
                <td class="mat-cell">
                  {{item.id_tipo}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="demo-element-row"
      [class.demo-expanded]="expandedElement == row"
      (click)="expandedElement = expandedElement === row ? undefined : row"></mat-row>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="demo-detail-row"></tr>
  </mat-table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>