<ng-container>
    <h2 mat-dialog-title>{{title}}</h2>
    <div mat-dialog-content class="flex flex-col pt-3" [formGroup]="roleForm">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="roleForm.invalid">ERROR</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="pt-2">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="justify-end">
        <button mat-raised-button class="min-w-26" [mat-dialog-close]="false" [disabled]="isLoading"
            color="warn">Cancelar</button>
        <button mat-raised-button class="min-w-26" [disabled]="isLoading || roleForm.invalid" color="primary" (click)="save()">
            <ng-container *ngIf="isLoading; else elseTemplate">
                <mat-spinner [diameter]="25"></mat-spinner>
            </ng-container>
            <ng-template #elseTemplate>
                Guardar
            </ng-template>
        </button>
    </div>
</ng-container>