<div>
  <h2>Dashboard</h2>
  <mat-grid-list [cols]="cols" rowHeight="200px" gutterSize="10px" >
    <mat-grid-tile *ngFor="let item of miniCards">
      <app-mini-card [icon]="item.icon" [textValue]="item.textValue" [value]="item.value" [color]="item.color"></app-mini-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list [cols]="colsChart" rowHeight="400px">
    <mat-grid-tile>
      <app-card title="Monthly Revenue">
        <div echarts [options]="chartOption" style="height: 400px; width: 100%;"></div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card title="Product Sales">
        <div echarts [options]="option" style="height: 400px; width: 100%"></div>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>