
<subheader [title]="'Clientes'" [isLoading]="isLoading">
  <ng-container>
    <button class="mr-2" mat-icon-button color="primary" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-flat-button [color]="'primary'" (click)="openDialogClient()">
      <mat-icon>add</mat-icon>
      <span class="ml-2 mr-1">Nuevo</span>
    </button>
  </ng-container>
</subheader>

<div class="mt-6">
  <search (filtrar)="applyFilter($event)"></search>

  <div class="mat-elevation-z8">
    <app-clients-table (editElement)="openDialogClient($event)"
      (deleteElement)="deleteClient($event)"></app-clients-table>
  </div>
</div>